
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.trp-itm { 
		width: calc(100% - 40px);
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.trp-itm { 
		width: calc(50% - 30px);
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.trp-itm { 
		width: calc(33.3% - 27px);
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.trp-itm { 
		width: calc(25% - 26px);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.trp-itm { 
		width: calc(20% - 24px);
	}
}
